@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
// Colors
$green: #00ff00;
$purple: #662eea;
$yellow: #f0c818;

$primary: $green;
$secondary: $purple;
$tertiary: $yellow;

// Typography
$headings-font-family: "Poppins", sans-serif;
$headings-font-weight: 700;
$font-family-sans-serif: "Poppins", sans-serif;
$font-family-monospace: "Poppins", sans-serif;
// Example: 20rem= 200px, 37.5rem es 375px
$font-size-root: 62.5%;
$font-size-base: 1.6rem;

$h1-font-size: 4.5rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2rem;

// Spacing (affects padding and margin)
$spacer: 5rem;
$bs-card-space-y: 2rem;
$bs-card-space-x: 2rem;

// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
