@use "../abstracts/custom" as *;
@use "../abstracts/mixins" as m;

.cardProject {
  h3 {
    height: 3rem;
    margin-bottom: 0.5rem;
  }

  .imgProject {
    width: 100%;
    height: 17rem;
    object-fit: cover;
  }

  .bodyCard {
    padding: 2rem 3rem;

    .btnProject {
      @include m.btnPrimary($secondary);

      &:hover {
        @include m.btnPrimary($tertiary);
      }
    }

    .labelCard {
      font-size: 1.2rem;
    }

    span {
      margin-left: 0.2rem;
    }
  }
}
